@font-face {
    font-family: "Roboto";
    src: local("Roboto-Black"), local("Roboto black"),
        url("../fonts/Roboto-Black.woff2") format("woff2"), 
        url("../fonts/Roboto-Black.woff") format("woff");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Bold"), local("Roboto bold"),
        url("../fonts/Roboto-Bold.woff2") format("woff2"), 
        url("../fonts/Roboto-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"), local("Roboto Regular"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"), 
        url("../fonts/Roboto-Regular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

.header__main-title{
    max-width: 1080px;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
}

.section__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 43.2px;
    font-weight: 900;
}

.nav__title {
    font-size: 44px;
    line-height: 52.8px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section {
    padding: 25px 0;
}

.section__text:not(:last-child) {
    margin-bottom: 30px;
}

.header__text {
    margin-bottom: 30px;
}

.section__text-inline-block {
    display: inline-block;
    width: calc(100% - 590px);
}

.section__figcaption {
    border: 1px solid black;
    padding: 15px 30px;
    border-top: 1px solid transparent;
    font-weight: 400;
}

.section__figure {
    margin-bottom: 30px;
}

.section__image-figure{
    margin: 0 auto;
    display: block;
}

.section__image {
    margin: 0 auto;
    display: block;
}

.section__image:not(:last-child) {
    margin-bottom: 30px;
}

.section__block {
    display: flow-root;
}

.section__block:not(:last-child) {
    margin-bottom: 30px;
}

.section__image-float-left {
    max-width: 560px;
    float: left;
    margin-right: 30px;
    /* margin-bottom: 30px; */
}

.section__image-float-right {
    float: right;
    margin-bottom: 0;
}

.section__float-text {
    float: left;
    width: calc(100% - 600px);
}

.container_style_big {
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav {
    background-color:#F1F1F1;
    padding: 25px 30px 25px 45px;
    border-radius: 10px;
    width: 100%;
}

.nav__item {
    color: #02535F;
}

.nav__item:not(:last-child) {
    margin-bottom: 10px;
}
.nav__link {
    text-decoration: none;
    border-bottom: 1px solid black;
}

.nav__list {
    padding-left: 0;
    list-style-position: inside;
    margin: 0;
}

.section__image {
    margin: 0 auto;
    display: block;
}

.section__image:not(:last-child) {
    margin-bottom: 30px;
}

.nav__finish-list {
    list-style-type:none;
    margin-bottom: 30px;
}

.nav__element::before {
    content: " — ";
}

.nav__element:not(:last-child) {
    margin-bottom: 10px;
}

.footer__block{
    background-color:#F1F1F1;
    padding: 25px 0 25px 45px;
}
